body{
	margin: 0;
	background: #EEEEEE;
	font-family: Arial;
}

header{
	background: white;
	padding: 15px;
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

main{
	background: white;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 10px;
	width: 80%;
}

nav a{
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover{
	background-color: #0096ff;
	color: black;
}

main h1{
	text-align: center;
}

main img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	padding: 10px;
	max-width: 90%;
}

main iframe{
	width: 100%;
}

.video{
	width: 1200px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.gallery{
	display: inline-block;
}

.gallery_item {
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	float: left;
	width: 240px;
	background: white;
}

.gallery_item: hover {
	border: 1px white;
}

.gallery_item img {
	width: 100%;
	margin-top: 5px;
	height: auto;
}

.gallery_item .desc {
	padding: 15px;
	text-align: center;
	color: #0096ff;
}

#navbar ul {
  display: none;
  background-color: #f90;
  position: absolute;
  top: 100%;
  border-radius: 10px;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 30px;
  background-color: #666;
  padding-left: 25px;
  min-width: 470px;
  border-radius: 10px;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
  border-radius: 10px;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}
#navbar ul li { float: none; border-radius: 10px;}
#navbar li:hover { background-color: #f90; border-radius: 10px;}
#navbar ul li:hover { background-color: #666; border-radius: 10px;}
